
/* Global */
body {
    /*Display Design*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 20px;

    /*Color-scheme*/
    background: #f2f3f5;

    /*Spacing*/
    margin: 0;
}
