section {
    h2 {
        text-align: center;
    }

    .response-container {
        /*Display Design*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: justify;
    }

    .card-container {
        /*Display Design*/
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 40%;

        /*Spacing*/
        margin: 1rem;;
        margin-bottom: 10px;
        padding: 40px;

        /*Color-scheme*/
        background: #9fa8da;
        color: #fff;

        /*Additional Styling*/
        border: 0.5rem solid #283593;
        border-radius: 25px;
    }

    .response-value {
        margin: 0.5rem
    }
}